<mat-dialog-content>
  <h3 mat-dialog-title>Time Registry Detail</h3>
  <ul>
    <li>
      <span>Id: </span>
    </li>
    <br>
    <li>
      <span>Client Id: </span>
    </li>
    <li>
      <span>Matter Id: </span>
    </li>
    <li>
      <span>Project name: </span>
    </li>
    <li>
      <span>User email: </span>
    </li>
    <li>
      <span>Created by: </span>
    </li>
    <li>
      <span>Created at: </span>
    </li>
    <li>
      <span>Last modified by: </span>
    </li>
    <li>
      <span>Last modified at: </span>
    </li>
    <br>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>
